n8n workflows/Lead Nurture Cron.json
{
  "name": "Lead Nurture Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "85b02ee1-fb55-45ff-bc41-93983e55518c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -848,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E",
          "mode": "list",
          "cachedResultName": "Mehrana Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 452989522,
          "mode": "list",
          "cachedResultName": "Mehrshad Editing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit#gid=452989522"
        },
        "options": {}
      },
      "id": "49d3bae7-ce0f-4d65-b63d-1031b0a58da8",
      "name": "Read Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -656,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xb8TCWGG9tfl6cc7",
          "name": "mehrshad@mehrana"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Timezone settings\nconst TIMEZONE = 'America/Toronto';\n\n// Helper to get time in Toronto\nfunction getTorontoTime(date) {\n  return new Date(date.toLocaleString('en-US', { timeZone: TIMEZONE }));\n}\n\n// Helper to create a target date in Toronto Timezone\nfunction createTargetDate(baseDate, daysToAdd, hour) {\n  const target = new Date(baseDate);\n  target.setDate(target.getDate() + daysToAdd);\n  target.setHours(hour, 0, 0, 0);\n  return target;\n}\n\nconst nowToronto = getTorontoTime(new Date());\n\nreturn items.map(item => {\n  const lead = item.json;\n  const status = lead.Status;\n  const dateAddedStr = lead['Date Added'];\n  \n  let action = 'none';\n\n  if (dateAddedStr) {\n    // Safety: Replace ' ' with 'T' for ISO parsing if needed\n    const safeDateStr = dateAddedStr.replace(' ', 'T');\n    const dateAdded = new Date(safeDateStr);\n    const leadTimeToronto = getTorontoTime(dateAdded);\n    \n    // Determine Start Hour of the Lead (0-23)\n    const leadHour = leadTimeToronto.getHours();\n    \n    let targetS2, targetS3, targetFunnel;\n\n    if (leadHour >= 8) {\n       // Scenario A: Day Time Lead (8 AM - 11:59 PM)\n       // Stage 2: Next Day (Day+1) at 2:00 PM (14:00)\n       // Stage 3: Day After Next (Day+2) at 7:00 PM (19:00)\n       targetS2 = createTargetDate(leadTimeToronto, 1, 14);\n       targetS3 = createTargetDate(leadTimeToronto, 2, 19);\n    } else {\n       // Scenario B: Night Time Lead (12 AM - 7:59 AM)\n       // Stage 2: Same Day (Day+0) at 12:00 PM (12:00)\n       // Stage 3: Next Day (Day+1) at 7:00 PM (19:00)\n       targetS2 = createTargetDate(leadTimeToronto, 0, 12);\n       targetS3 = createTargetDate(leadTimeToronto, 1, 19);\n    }\n\n    // Funnel: 24h after Stage 3 (approx Day+3 or Day+2 at 7 PM)\n    targetFunnel = new Date(targetS3);\n    targetFunnel.setDate(targetFunnel.getDate() + 1);\n\n    // Check Triggers\n    // Logic: If NOW >= TargetTime, we are eligible.\n    // Since status updates prevent duplicate sending, we just check if we passed the milestone.\n\n    if (status === 'New Lead - Welcome Sent') {\n       if (nowToronto >= targetS2) {\n         action = 'step2';\n       }\n    } else if (status === 'New Lead - Welcome Sent 2') {\n       if (nowToronto >= targetS3) {\n         action = 'step3';\n       }\n    } else if (status === 'New Lead - Welcome Sent 3') {\n       if (nowToronto >= targetFunnel) {\n         action = 'ghosted';\n       }\n    }\n  }\n\n  return {\n    json: {\n      ...lead,\n      nurture_action: action\n    }\n  };\n});"
      },
      "id": "ff950e97-3d3f-436c-b038-04b335ff151b",
      "name": "Check Time & Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.nurture_action }}",
        "rules": {
          "rules": [
            {
              "value2": "step2"
            },
            {
              "value2": "step3"
            },
            {
              "value2": "step4"
            },
            {
              "value2": "ghosted"
            }
          ]
        }
      },
      "id": "a8dd4a92-0fb8-4544-9ee4-6c8fdaf2bdb3",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E",
          "mode": "list",
          "cachedResultName": "Mehrana Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 452989522,
          "mode": "list",
          "cachedResultName": "Mehrshad Editing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit#gid=452989522"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Fox - Ghosted Funnel",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Quality",
              "displayName": "Lead Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes from Setter (Free text)",
              "displayName": "Notes from Setter (Free text)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Call 1 Outcome",
              "displayName": "Call 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meeting 1 Outcome",
              "displayName": "Meeting 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Screen record link + Note",
              "displayName": "Screen record link + Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audit Status",
              "displayName": "Audit Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audit Link",
              "displayName": "Audit Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meeting 2 Outcome",
              "displayName": "Meeting 2 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meeting 3 Outcome",
              "displayName": "Meeting 3 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "518b43a8-38c8-4ddd-8dc2-cbd3cec288ef",
      "name": "Update: Ghosted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xb8TCWGG9tfl6cc7",
          "name": "mehrshad@mehrana"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E",
          "mode": "list",
          "cachedResultName": "Mehrana Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 452989522,
          "mode": "list",
          "cachedResultName": "Mehrshad Editing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit#gid=452989522"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "New Lead - Welcome Sent 2",
            "Email": "={{ $('Router').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Quality",
              "displayName": "Lead Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes from Setter (Free text)",
              "displayName": "Notes from Setter (Free text)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call 1 Outcome",
              "displayName": "Call 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 1 Outcome",
              "displayName": "Meeting 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Screen record link + Note",
              "displayName": "Screen record link + Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit Status",
              "displayName": "Audit Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit Link",
              "displayName": "Audit Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 2 Outcome",
              "displayName": "Meeting 2 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 3 Outcome",
              "displayName": "Meeting 3 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ef6ad813-f3bd-4b57-84a7-9d846f89f24f",
      "name": "Mark Done: New Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xb8TCWGG9tfl6cc7",
          "name": "mehrshad@mehrana"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E",
          "mode": "list",
          "cachedResultName": "Mehrana Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 452989522,
          "mode": "list",
          "cachedResultName": "Mehrshad Editing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LZWBiVMNjUCIjjGqM0eqXjpUNGMlJta79gCE_3Dli-E/edit#gid=452989522"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "New Lead - Welcome Sent 3",
            "Email": "={{ $('Router').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Quality",
              "displayName": "Lead Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes from Setter (Free text)",
              "displayName": "Notes from Setter (Free text)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call 1 Outcome",
              "displayName": "Call 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 1 Outcome",
              "displayName": "Meeting 1 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Screen record link + Note",
              "displayName": "Screen record link + Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit Status",
              "displayName": "Audit Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit Link",
              "displayName": "Audit Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 2 Outcome",
              "displayName": "Meeting 2 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting 3 Outcome",
              "displayName": "Meeting 3 Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bda9c952-0e3b-41dc-8f04-bd1ebf28e441",
      "name": "Mark Done: New Lead1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xb8TCWGG9tfl6cc7",
          "name": "mehrshad@mehrana"
        }
      }
    },
    {
      "parameters": {
        "from": "16478009345",
        "to": "={{ $('Router').item.json.Phone }}",
        "message": "=Hi {{ $('Router').item.json.Name }}! \n\nMehrdad here again. Just checking if you got my email regarding the {{ $('Router').item.json.Website }} audit? We're ready to start, just need that quick 15-min chat to align on goals. \nCheck your inbox or book here: \nhttps://calendly.com/mehrdad-mehrana/15-minute-strategy-session\n\n-Mehrdad from Mehrana",
        "options": {}
      },
      "id": "01a17cea-d5b3-4f25-947c-9098298b9ab8",
      "name": "Welcome SMS 2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        176,
        -48
      ],
      "credentials": {
        "twilioApi": {
          "id": "2JJuTKYVh0k9gOd3",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "16478009345",
        "to": "={{ $('Router').item.json.Phone }}",
        "message": "=Hi {{ $('Router').item.json.Name }}! \n\nI was taking an initial look at {{ $('Router').item.json.Website }} today and noticed a couple of opportunities I'd love to share. Let's chat briefly so I can include them in your audit.\n\nBook here: \nhttps://calendly.com/mehrdad-mehrana/15-minute-strategy-session\n\n-Mehrdad from Mehrana",
        "options": {}
      },
      "id": "c46104eb-84b9-4ecc-a498-6360bf87313d",
      "name": "Welcome SMS 3",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        176,
        128
      ],
      "credentials": {
        "twilioApi": {
          "id": "2JJuTKYVh0k9gOd3",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Quick check: {{ $json.Website }} audit",
        "message": "={{ 'Hi ' + $json.Name + ',<br><br>I just wanted to follow up quickly to make sure you received my previous email regarding the audit request for ' + $json.Website + '.<br><br>We are eager to get started on your customized plan, but we just need a quick 15-min chat to align on your specific goals (keywords, competitors, etc).<br><br>Please pick a time that works for you here:<br>👉 <a href=\"https://calendly.com/mehrdad-mehrana/15-minute-strategy-session\">https://calendly.com/mehrdad-mehrana/15-minute-strategy-session</a><br><br><br>' + '<div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><p style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;vertical-align:baseline\"><font face=\"times new roman, serif\">Kind Regards,</font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;font-style:italic;vertical-align:baseline\"><font face=\"times new roman, serif\">Mehrdad</font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;font-style:italic;vertical-align:baseline\"><font face=\"times new roman, serif\"><br></font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><font face=\"times new roman, serif\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;vertical-align:baseline\">Director |&nbsp;</span><a href=\"https://mehrana.agency/\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Mehrana Marketing</span></a></font></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><a href=\"http://www.linkedin.com/in/mehrdadsalehi\" style=\"color:rgb(17,85,204);font-family:&quot;times new roman&quot;,serif\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Linkedin</span></a><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;vertical-align:baseline\">&nbsp;|&nbsp;</span><a href=\"https://wa.me/14379926614\" style=\"color:rgb(17,85,204);font-family:&quot;times new roman&quot;,serif\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Whatsapp</span></a><span style=\"font-family:&quot;times new roman&quot;,serif\">&nbsp;</span><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;vertical-align:baseline\">|&nbsp;</span><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;color:rgb(17,85,204);vertical-align:baseline\"><a href=\"tel:+14379926614\" style=\"color:rgb(17,85,204)\" target=\"_blank\">+14379926614</a></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><br></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><img src=\"https://ci3.googleusercontent.com/meips/ADKq_NZ7YtRL9QWW6hNWD1Tq978eu3YoRYcRkCSci8tDwDWVI_VCKTDpGEoReUWlrrMjHdNOhcQKLSiGuX72yxssaU37M0vdqLA0-VdR-rA_sNsD5_9GbGDHtO04r4HHGxdRopo=s0-d-e1-ft#https://mehrana.agency/wp-content/uploads/2023/11/Mehrana-Logo-k-scaled.jpg\" width=\"200\" height=\"40\"></p></div></div>' }}",
        "options": {
          "senderName": "Mehrana Marketing",
          "replyTo": "mehrdad@mehrana.agency"
        }
      },
      "id": "ecdc6ace-9813-4f95-9814-a7a7205be651",
      "name": "Welcome Email 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        -48
      ],
      "webhookId": "30533f41-783c-438b-ac28-6ac19bde6805",
      "credentials": {
        "gmailOAuth2": {
          "id": "sw0qfEOaTkBJaIOs",
          "name": "GMAIL hello@mehrana"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=One question regarding {{ $json.Website }}",
        "message": "={{ 'Hi ' + $json.Name + ',<br><br>I was taking a preliminary look at ' + $json.Website + ' today and noticed a couple of interesting opportunities for growth.<br><br>Before I finalize the audit strategy, could we have that quick 15-min chat? I want to make sure I\\'m focusing on the right areas that matter most to you.<br><br>You can book your slot here:<br>👉 <a href=\"https://calendly.com/mehrdad-mehrana/15-minute-strategy-session\">https://calendly.com/mehrdad-mehrana/15-minute-strategy-session</a><br><br>Looking forward to it,<br><br><br>' + '<div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><p style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;vertical-align:baseline\"><font face=\"times new roman, serif\">Kind Regards,</font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;font-style:italic;vertical-align:baseline\"><font face=\"times new roman, serif\">Mehrdad</font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;font-style:italic;vertical-align:baseline\"><font face=\"times new roman, serif\"><br></font></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><font face=\"times new roman, serif\"><span style=\"color:rgb(68,68,68);background-color:transparent;font-weight:700;vertical-align:baseline\">Director |&nbsp;</span><a href=\"https://mehrana.agency/\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Mehrana Marketing</span></a></font></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><a href=\"http://www.linkedin.com/in/mehrdadsalehi\" style=\"color:rgb(17,85,204);font-family:&quot;times new roman&quot;,serif\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Linkedin</span></a><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;vertical-align:baseline\">&nbsp;|&nbsp;</span><a href=\"https://wa.me/14379926614\" style=\"color:rgb(17,85,204);font-family:&quot;times new roman&quot;,serif\" target=\"_blank\"><span style=\"background-color:transparent;vertical-align:baseline\">Whatsapp</span></a><span style=\"font-family:&quot;times new roman&quot;,serif\">&nbsp;</span><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;vertical-align:baseline\">|&nbsp;</span><span style=\"font-family:&quot;times new roman&quot;,serif;background-color:transparent;color:rgb(17,85,204);vertical-align:baseline\"><a href=\"tel:+14379926614\" style=\"color:rgb(17,85,204)\" target=\"_blank\">+14379926614</a></span></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><br></p><p dir=\"ltr\" style=\"color:rgb(34,34,34);line-height:1.2;margin-top:0pt;margin-bottom:0pt\"><img src=\"https://ci3.googleusercontent.com/meips/ADKq_NZ7YtRL9QWW6hNWD1Tq978eu3YoRYcRkCSci8tDwDWVI_VCKTDpGEoReUWlrrMjHdNOhcQKLSiGuX72yxssaU37M0vdqLA0-VdR-rA_sNsD5_9GbGDHtO04r4HHGxdRopo=s0-d-e1-ft#https://mehrana.agency/wp-content/uploads/2023/11/Mehrana-Logo-k-scaled.jpg\" width=\"200\" height=\"40\"></p></div></div>' }}",
        "options": {
          "senderName": "Mehrana Marketing",
          "replyTo": "mehrdad@mehrana.agency"
        }
      },
      "id": "1821d16d-b5b0-4e17-8137-fc90abcad92a",
      "name": "Welcome Email 3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        128
      ],
      "webhookId": "30533f41-783c-438b-ac28-6ac19bde6805",
      "credentials": {
        "gmailOAuth2": {
          "id": "sw0qfEOaTkBJaIOs",
          "name": "GMAIL hello@mehrana"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign\": \"b9d36431-385c-4d44-bed0-d98603f3a937\",\n  \"email\": \"{{ $json.Email }}\",\n  \"skip_if_in_campaign\": false,\n  \"skip_if_in_workspace\": false,\n  \"first_name\": \"{{ $json.Name }}\",\n  \"phone\": \"{{ $json.Phone }}\",\n  \"website\": \"{{ $json.Website }}\"\n}",
        "options": {}
      },
      "id": "ba6d0551-1dc7-4e3c-8382-ee7a3508ea70",
      "name": "No Answer Funnel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dCtQJIDzZJz6Cq16",
          "name": "instantly"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads": {
      "main": [
        [
          {
            "node": "Check Time & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Time & Status": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Welcome Email 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Welcome Email 3",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "No Answer Funnel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome SMS 2": {
      "main": [
        [
          {
            "node": "Mark Done: New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome SMS 3": {
      "main": [
        [
          {
            "node": "Mark Done: New Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email 2": {
      "main": [
        [
          {
            "node": "Welcome SMS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email 3": {
      "main": [
        [
          {
            "node": "Welcome SMS 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Answer Funnel1": {
      "main": [
        [
          {
            "node": "Update: Ghosted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40ef171c-33cd-490f-a898-54ef8aad67da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c754554954772afb6f4609a053f562f8bf94dec3fc7ddbeab97c72e66d77307"
  },
  "id": "dPUwXBdGGlZ61COU",
  "tags": []
}