n8n workflows/Manual Call Handler.json
{
    "name": "Manual Call Handler",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "documentId": {
                    "mode": "id",
                    "value": "YOUR_SHEET_ID_HERE"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Sheet1"
                },
                "event": "rowUpdate"
            },
            "id": "trigger-node",
            "name": "Google Sheets Trigger",
            "type": "n8n-nodes-base.googleSheetsTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.Status }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "Call 1 - SMS & Email Sent"
                        },
                        {
                            "value2": "Call 1 - Email Sent (Wrong Num)"
                        },
                        {
                            "value2": "M1 - Recovery Email Sent"
                        }
                    ]
                }
            },
            "id": "switch-status",
            "name": "Check Status",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "YOUR_INSTANTLY_NO_ANSWER_WEBHOOK_URL",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "={{ $json.Email }}"
                        },
                        {
                            "name": "firstName",
                            "value": "={{ $json.Name }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.Phone }}"
                        }
                    ]
                }
            },
            "id": "instantly-no-answer",
            "name": "Instantly: No Answer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                -150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "YOUR_INSTANTLY_WRONG_NUMBER_WEBHOOK_URL",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "={{ $json.Email }}"
                        },
                        {
                            "name": "firstName",
                            "value": "={{ $json.Name }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.Phone }}"
                        }
                    ]
                }
            },
            "id": "instantly-wrong-number",
            "name": "Instantly: Wrong Number",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "YOUR_INSTANTLY_M1_RECOVERY_WEBHOOK_URL",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "={{ $json.Email }}"
                        },
                        {
                            "name": "firstName",
                            "value": "={{ $json.Name }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.Phone }}"
                        }
                    ]
                }
            },
            "id": "instantly-m1-recovery",
            "name": "Instantly: M1 Recovery",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                150
            ]
        }
    ],
    "connections": {
        "Google Sheets Trigger": {
            "main": [
                [
                    {
                        "node": "Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status": {
            "main": [
                [
                    {
                        "node": "Instantly: No Answer",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Instantly: Wrong Number",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Instantly: M1 Recovery",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}